.intro {
  background: center / cover no-repeat url('/images/raster/catalog-intro.png');

  height: min(100vh, 50rem);

  position: relative;
}

.overlay {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: var(--transparent-primary-color-15);

  backdrop-filter: blur(.25rem);
}

.content {
  display: flex;
  flex-direction: column;

  height: 100%;
  position: relative;
  z-index: 5;

  //& a, p, h1, h2, h3 {
  //  color: #FFFFFF;
  //}
  //
  //& svg, path {
  //  fill: #FFFFFF;
  //}

  & > div {
    @include column(5rem);

    justify-content: center;
    flex: 1;
  }
}

.heading {
  font-size: clamp(3.15rem, 5.5vw, 5rem);
}

.subheading {
  font-size: clamp(.75rem, 1.5vw, 1.15rem);
}

.info {
  @include column(1.5rem);

  height: fit-content;
  width: min(100%, 50rem);
}

.link {
  @include row(.5rem);

  align-items: center;
  font-size: 1.25rem;

  & svg {
    opacity: 0;
  }

  & path {
    fill: var(--identify-color-5) !important;
  }

  &:hover {
    color: var(--identify-color-5);

    & > svg {
      opacity: 100%;

      animation: move 1000ms ease-in-out infinite alternate;
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20%);
  }
}