@font-face {
  font-family: 'TT First Neue';
  src: url('/fonts/TTFirsNeue.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans.ttf') format('truetype');
}