:root {
  --additional-color-5: #FFFFFF;
  --additional-color-10: rgb(245, 245, 245);
  --additional-color-15: rgb(240, 240, 240);
  --additional-color-20: rgb(250, 250, 250);

  --primary-color-5: #202020;
  --primary-color-10: #454545;

  --identify-color-5: rgb(0, 40, 255);
  --identify-color-10: #FF0055;

  --transparent-additional-color-5: #10101080;
  --transparent-additional-color-10: #1010100D;
  --transparent-additional-color-15: #10101030;
  --transparent-primary-color-5: #FFFFFF80;
  --transparent-primary-color-10: #FFFFFF0D;
  --transparent-identify-color-5: #0055FF1A;
  --transparent-additional-color-20: rgba(95, 95, 95, .5);

  --positive-color-5: #14B97D;
  --negative-color-5: #FF3030;

  --transition: 200ms all ease-in-out;
}