.button {
  @include square(2.25rem);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 500rem;

  &:hover {
    background: var(--transparent-primary-color-10);
  }
}