@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes color-shift {
  0%, 100% {
    border-top-color: var(--identify-color-15);
    border-right-color: var(--identify-color-10);
    border-bottom-color: var(--identify-color-15);
    border-left-color: var(--identify-color-10);
  }

  25% {
    border-top-color: var(--identify-color-10);
    border-right-color: var(--identify-color-15);
    border-bottom-color: var(--identify-color-10);
    border-left-color: var(--identify-color-15);
  }

  50% {
    border-top-color: var(--identify-color-15);
    border-right-color: var(--identify-color-10);
    border-bottom-color: var(--identify-color-15);
    border-left-color: var(--identify-color-10);
  }

  75% {
    border-top-color: var(--identify-color-10);
    border-right-color: var(--identify-color-15);
    border-bottom-color: var(--identify-color-10);
    border-left-color: var(--identify-color-15);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: .5rem solid transparent;
  border-radius: 50%;
  animation: spin 2000ms linear infinite, color-shift 3000ms linear infinite;
}
