.header {
  padding-block: 1.25rem;
  position: fixed;
  backdrop-filter: blur(.15rem);
  width: 100%;
  background: var(--transparent-additional-color-5);

  box-shadow: 0 0 3.125rem var(--transparent-additional-color-10);
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  @include row(.625rem);
}